/* BREAKPOINTS */

$screen-xs: 576px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

/*
.col- 	 < 576px
.col-sm- ≥ 576px	
.col-md- ≥ 768px	
.col-lg- ≥ 992px	
.col-xl- ≥1200px
*/

/* cambios en container para no pisra el border blanco -60px */
@media only screen and (min-width: ($screen-md)) { .container { width: 690px; } }
@media only screen and (min-width: ($screen-lg)) { .container { width: 910px; } }
@media only screen and (min-width: ($screen-xl)) { .container { width: 1110px; } }

.invisibilizar { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

$color-destacado: #0CA6BE;
$color-destacado-link: #0CA6BE;
$color-fondo: #EAE8E6;
$color-titulo: #0CA6BE;
$color-blanco: #FFF;


/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: left;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    /*content: '[...]';
    outline: 1px solid red;
    background: $bgColor;*/
    width: 22px;
    position: absolute;
    right: 17px;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}


