
.editor-relato .listado-relatos{
  padding-top: 25px;
}

.editor-relato .data-relato{
    text-align: left;
    margin: 0;
    margin-left: -3px;
    float: left;
    width: 260px;
}
/* NAVEGACION */

.editor-relato .data-relato .image-clip {
    float: left;
    margin-left: -5px;
}

.modos{ list-style: none; float: right; padding: 10px 0 0 0; }

@media only screen and (max-width: ($screen-xs - 163)) {
  .modos{ 
    margin-top: 20px; 
    float: left;
    margin-bottom: -10px;
  } 
}

.modos li{ float: left; margin-right: 10px;}

.modos a{
  height: 43px;
  width: 43px;
  display: block;
  border-radius: 30px;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #EBEAE9;
  box-shadow: none;
  margin-bottom: 10px;
  text-indent: -9999px;
  color: #EAE8E6;
  font-weight: bold;
  overflow: hidden;
  background-image: url(../img/iconos/relato-visualizacion.png);
}

.modos li:last-child a{
  background-image: url(../img/iconos/relato-listado.png);
}

.modos a:hover, .modos a:focus, .modos li.active a{ 
  background-color: #666;
  border-color: #F4F3F2;
}

.editor-relato h1{
  clear: both;
  font-size: 20px;
  padding: 40px 0 18px 0;
  border-bottom: 1px solid #EAE8E6;
}

@media only screen and (max-width: ($screen-xs - 163)) {
  .editor-relato h1{
    margin-top: 0;
  }
}

.editor-relato hr{ 
  margin-top: -5px; 
  margin-bottom: 12px;
}

/* TABS  */

.tabpanel{ display: none; }
.tabpanel.active{ display: block; }

/* VISUALIZACION */

.editor-relato .tit-editor-visual h1{
  text-align: center;
  border-bottom: none;
}

.editor-relato .tit-editor-visual hr {
    margin: 0 auto 30px auto;
    margin-top: -5px;
    float: none;
}


/* FORM VISUALIZACION */

.opciones-visual{ float: right; }

@media only screen and (max-width: $screen-md) {
  .opciones-visual{ float: none; }
}

.editor-relato .formulario .styled-select {
     width: 210px;
     overflow: hidden;
     border-radius: 6px;
     background: #F7F6F5 url(../img/iconos/flecha-select.svg) no-repeat center right;
}

.editor-relato  .formulario .styled-select select {
     background: transparent;
     width: 238px;
     padding: 5px;
     line-height: 1;
     border: 0;
     border-radius: 0;
     height: 34px;
     -webkit-appearance: none;
  }

.editor-relato .container-checkbox {
  margin-top: 15px;
  margin-left: 20px;
  padding-left: 15px;
}

.editor-relato .formulario .container-checkbox input[type=checkbox] {
  visibility: hidden;
}

.tick{
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 4px;  
  top: -2px;
  left: -35px;
  background: #EEE;
}

.editor-relato .formulario .container-checkbox .tick:after{
  opacity: 0.1;
  content: '';
  position: absolute;
  width: 16px;
  height: 10px;
  background: transparent;
  top: 8px;
  left: 7px;
  border: 4px solid #666;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.editor-relato .formulario .container-checkbox input[type=checkbox]:checked + .tick:after {
  opacity: 1;
}


/* Modalcito VISUALIZACION */

.modal-opciones-nodo{
  display: none;
  position: absolute;
  max-width: 200px;
  padding: 10px 10px 5px 10px;
  top: 10px;
  left: 40px;
  z-index: 13;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, .15);
}

.modal-left:after{
  content:'';
  position: absolute;
  bottom: 50%;
  bottom: calc(50% - 5px);
  right: -8px;
  margin-right: -8px;
  width: 0;
  height: 0;
  border-top: solid 8px transparent;
  border-left: solid 8px #FFF;
  border-right: solid 8px transparent;
  border-bottom: solid 8px transparent;
  z-index: 3;
}

.modal-opciones-nodo h2{
  font-size: 17px;
  font-family: $akzidenz-grotesk-pro-med;
  font-weight: bold;
  color: #272939;
  margin-top: 0;
}

.modal-opciones-nodo hr{ 
  height: 2px; 
  background: #EAE8E6; 
  width: 20px;
}

.modal-opciones-nodo a{
  color: #272939;
  font-family: $akzidenz-grotesk-pro-regular;
  text-transform: lowercase;
  font-size: 16px;
  display: block;
  background: url("../img/iconos/flecha-ver-nodo.png") no-repeat center left;
  margin: 0;
  padding: 4px 10px 4px 29px;
}

.modal-opciones-nodo a:last-child{
  background-image: url("../img/iconos/cruz-editar-nodo.png");
}

.modal-opciones-nodo a:hover, .modal-opciones-nodo a:focus{
  color: $color-destacado;
  text-decoration: none;
}

/* Listado preguntas - Ergodico */

.preguntas-ergodico, .invitacion-preguntas-ergodico{ 
  padding: 0; 
  list-style: none;
  width: 90%;
  float: right;
 }

.invitacion-preguntas-ergodico{
   margin-top: 20px;
   padding-bottom: 10px;
}

.preguntas-ergodico li{ 
  overflow: hidden;
  padding: 15px 0 6px 0;
  border-top: 2px dotted #CCCCCC;
}

.preguntas-ergodico li:last-child{
  border-bottom: 2px dotted #CCCCCC;
} 

.delete-pregunta-ergodico{
  width: 5%;
  float: left;
  background: url("../img/nodo/delete-pregunta.png") no-repeat center left;
  border: none;
  text-indent: -9999px;
  height: 42px;
}

.delete-pregunta-ergodico:hover{
  background-image: url("../img/nodo/delete-pregunta-hover.png");
}

.input-pregunta-ergodico{
  width: 50%;
  float: left;
}

.opciones-preguntas-ergodico{
  width: 40%;
  float: right;
}

.tit-preguntas-ergodico{
  float: left;
  width: 45%;
}

.botones-preguntas-ergodico{
  float: right;
  width: 50%;
  margin-top: -5px;
}

@media only screen and (max-width: $screen-lg) {

  .delete-pregunta-ergodico{
    width: 34px;
     float: left;
  }
  .input-pregunta-ergodico{
    width: 85%;
    float: left;
  }
  .preguntas-ergodico, .invitacion-preguntas-ergodico{ 
    width: 100%;
  }
  .opciones-preguntas-ergodico{
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-left: 35px;
  }
  .tit-preguntas-ergodico {
    width: 35%;
  }
  .botones-preguntas-ergodico{
    width: 60%;
  }
}

.opciones-preguntas-ergodico .tit-preguntas-ergodico h2{
  font-size: 17px;
  font-family: $akzidenz-grotesk-pro-med;
  font-weight: bold;
  color: #272939;
  margin-top: 0;
  margin-bottom: 5px;
}

.opciones-preguntas-ergodico hr{ 
  height: 2px; 
  background: #EAE8E6; 
  width: 20px;
  float: left;
  margin: 0;
}

.opciones-preguntas-ergodico a{
  color: #272939;
  font-family: $akzidenz-grotesk-pro-regular;
  text-transform: lowercase;
  font-size: 16px;
  display: block;
  background: url("../img/iconos/flecha-ver-nodo.png") no-repeat center left;
  margin: 0;
  padding: 4px 10px 4px 29px;
}

.opciones-preguntas-ergodico a:last-child{
  background-image: url("../img/iconos/cruz-editar-nodo.png");
}

.opciones-preguntas-ergodico a:hover, .opciones-preguntas-ergodico a:focus{
  color: $color-destacado;
  text-decoration: none;
}

