$font-face-caecilia-roman: 'caecilialtstd-roman-webfont';
$font-face-caecilia-bold: 'caecilialtstd-bold-webfont';
$font-face-caecilia-italic: 'caecilialtstd-italic-webfont';
$font-face-caecilia-bold-italic: 'caecilialtstd-bolditalic-webfont';
$font-face-caecilia-heavy: 'caecilialtstd-heavy-webfont';

$font-face-akzidenz-regular: 'AkzidenzGroteskPro-Regular';
$font-face-akzidenz-med: 'AkzidenzGroteskPro-Md';
$font-face-akzidenz-bold: 'AkzidenzGroteskPro-Bold';
$font-face-akzidenz-light: 'AkzidenzGroteskPro-Light';

$font-face-brandon-grotesque-regular: 'brandon_reg';
$font-face-brandon-grotesque-bold: 'brandon_bld';

$font-face-roboto-regular: "Roboto-Regular-webfont";
$font-face-roboto-medium: "Roboto-Medium-webfont";
$font-face-roboto-light: "Roboto-Light-webfont";
$font-face-roboto-light-italic: "Roboto-LightItalic-webfont";


/* Texto de copia */

@font-face {
    font-family: 'Caecilia'; font-style: normal; font-weight: normal;
    src: url('../fonts/caecilia/#{$font-face-caecilia-roman}.eot');
    src: url('../fonts/caecilia/#{$font-face-caecilia-roman}.eot?') format('eot'),
        url('../fonts/caecilia/#{$font-face-caecilia-roman}.woff') format('woff'),
        url('../fonts/caecilia/#{$font-face-caecilia-roman}.ttf')  format('truetype'),
        url('../fonts/caecilia/#{$font-face-caecilia-roman}.svg') format('svg');
 }

@font-face {
    font-family: 'Caecilia'; font-style: normal; font-weight: bold;
    src: url('../fonts/caecilia/#{$font-face-caecilia-bold}.eot');
    src: url('../fonts/caecilia/#{$font-face-caecilia-bold}.eot?') format('eot'),
        url('../fonts/caecilia/#{$font-face-caecilia-bold}.woff') format('woff'),
        url('../fonts/caecilia/#{$font-face-caecilia-bold}.ttf')  format('truetype'),
        url('../fonts/caecilia/#{$font-face-caecilia-bold}.svg') format('svg');
 }

@font-face {
    font-family: 'Caecilia'; font-style: italic; font-weight: normal;
    src: url('../fonts/caecilia/#{$font-face-caecilia-italic}.eot');
    src: url('../fonts/caecilia/#{$font-face-caecilia-italic}.eot?') format('eot'),
        url('../fonts/caecilia/#{$font-face-caecilia-italic}.woff') format('woff'),
        url('../fonts/caecilia/#{$font-face-caecilia-italic}.ttf')  format('truetype'),
        url('../fonts/caecilia/#{$font-face-caecilia-italic}.svg') format('svg');
 }

 @font-face {
    font-family: 'Caecilia'; font-style: italic; font-weight: bold;
    src: url('../fonts/caecilia/#{$font-face-caecilia-bold-italic}.eot');
    src: url('../fonts/caecilia/#{$font-face-caecilia-bold-italic}.eot?') format('eot'),
        url('../fonts/caecilia/#{$font-face-caecilia-bold-italic}.woff') format('woff'),
        url('../fonts/caecilia/#{$font-face-caecilia-bold-italic}.ttf')  format('truetype'),
        url('../fonts/caecilia/#{$font-face-caecilia-bold-italic}.svg') format('svg');
 }

@font-face {
    font-family: 'Caecilia Heavy'; font-style: normal; font-weight: normal;
    src: url('../fonts/caecilia/#{$font-face-caecilia-heavy}.eot');
    src: url('../fonts/caecilia/#{$font-face-caecilia-heavy}.eot?') format('eot'),
        url('../fonts/caecilia/#{$font-face-caecilia-heavy}.woff') format('woff'),
        url('../fonts/caecilia/#{$font-face-caecilia-heavy}.ttf')  format('truetype'),
        url('../fonts/caecilia/#{$font-face-caecilia-heavy}.svg') format('svg');
 }

/* Títulos, formularios */

 @font-face {
    font-family: 'Akzidenz-Grotesk Pro Light'; font-style: normal; font-weight: normal;
    src: url('../fonts/akzidenz/#{$font-face-akzidenz-light}.eot');
    src: url('../fonts/akzidenz/#{$font-face-akzidenz-light}.eot?') format('eot'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-light}.woff2') format('woff2'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-light}.woff') format('woff'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-light}.ttf')  format('truetype'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-light}.svg') format('svg');
 }

 @font-face {
    font-family: 'Akzidenz-Grotesk Pro Regular'; font-style: normal; font-weight: normal;
    src: url('../fonts/akzidenz/#{$font-face-akzidenz-regular}.eot');
    src: url('../fonts/akzidenz/#{$font-face-akzidenz-regular}.eot?') format('eot'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-regular}.woff2') format('woff2'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-regular}.woff') format('woff'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-regular}.ttf')  format('truetype'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-regular}.svg') format('svg');
 }

 @font-face {
    font-family: 'Akzidenz-Grotesk Pro Med'; font-style: normal; font-weight: normal;
    src: url('../fonts/akzidenz/#{$font-face-akzidenz-med}.eot');
    src: url('../fonts/akzidenz/#{$font-face-akzidenz-med}.eot?') format('eot'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-med}.woff2') format('woff2'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-med}.woff') format('woff'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-med}.ttf')  format('truetype'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-med}.svg') format('svg');
 }

 @font-face {
    font-family: 'Akzidenz-Grotesk Pro Bold'; font-style: normal; font-weight: bold;
    src: url('../fonts/akzidenz/#{$font-face-akzidenz-bold}.eot');
    src: url('../fonts/akzidenz/#{$font-face-akzidenz-bold}.eot?') format('eot'),
         url('../fonts/akzidenz/#{$font-face-akzidenz-bold}.woff2') format('woff2'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-bold}.woff') format('woff'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-bold}.ttf')  format('truetype'),
        url('../fonts/akzidenz/#{$font-face-akzidenz-bold}.svg') format('svg');
 }

 /* interfaz */

 @font-face {
    font-family: 'Brandon Grotesque'; font-style: normal; font-weight: normal;
    src: url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-regular}.eot');
    src: url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-regular}.eot?') format('eot'),
        url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-regular}.woff') format('woff'),
        url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-regular}.ttf')  format('truetype'),
        url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-regular}.svg') format('svg');
 }

@font-face {
    font-family: 'Brandon Grotesque'; font-style: normal; font-weight: bold;
    src: url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-bold}.eot');
    src: url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-bold}.eot?') format('eot'),
        url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-bold}.woff') format('woff'),
        url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-bold}.ttf')  format('truetype'),
        url('../fonts/brandon-grotesque/#{$font-face-brandon-grotesque-bold}.svg') format('svg');
 }

 @font-face {
    font-family: 'Maax'; font-style: normal; font-weight: bold;
    src: url('../fonts/maax/maax-bold.eot');
    src: url('../fonts/maax/maax-bold.eot?') format('eot'),
        url('../fonts/maax/maax-bold.woff2') format('woff2'),
        url('../fonts/maax/maax-bold.woff') format('woff'),
        url('../fonts/maax/maax-bold.ttf')  format('truetype'),
        url('../fonts/maax/maax-bold.svg') format('svg');
 }

  @font-face {
    font-family: 'Maax Rounded Medium'; font-style: normal; font-weight: bold;
    src: url('../fonts/maax/MaaxRoundedMedium-webfont.eot');
    src: url('../fonts/maax/MaaxRoundedMedium-webfont.eot?') format('eot'),
        url('../fonts/maax/MaaxRoundedMedium-webfont.woff2') format('woff2'),
        url('../fonts/maax/MaaxRoundedMedium-webfont.woff') format('woff'),
        url('../fonts/maax/MaaxRoundedMedium-webfont.ttf')  format('truetype'),
        url('../fonts/maax/MaaxRoundedMedium-webfont.svg') format('svg');
 }

@font-face {
    font-family: 'Playlist'; font-style: normal; font-weight: bold;
    src: url('../fonts/playlist/playlist-script.eot');
    src: url('../fonts/playlist/playlist-script.eot?') format('eot'),
        url('../fonts/playlist/playlist-script.woff2') format('woff2'),
        url('../fonts/playlist/playlist-script.woff') format('woff'),
        url('../fonts/playlist/playlist-script.ttf')  format('truetype'),
        url('../fonts/playlist/playlist-script.svg') format('svg');
 }

@font-face {
    font-family: $font-face-roboto-regular; font-style: normal; font-weight: normal;
    src: url('../fonts/roboto/#{$font-face-roboto-regular}.eot');
    src: url('../fonts/roboto/#{$font-face-roboto-regular}.eot?') format('eot'),
        url('../fonts/roboto/#{$font-face-roboto-regular}.woff') format('woff'),
        url('../fonts/roboto/#{$font-face-roboto-regular}.ttf')  format('truetype'),
        url('../fonts/roboto/#{$font-face-roboto-regular}.svg') format('svg');
 }

 @font-face {
    font-family: $font-face-roboto-medium; font-style: normal; font-weight: normal;
    src: url('../fonts/roboto/#{$font-face-roboto-medium}.eot');
    src: url('../fonts/roboto/#{$font-face-roboto-medium}.eot?') format('eot'),
        url('../fonts/roboto/#{$font-face-roboto-medium}.woff') format('woff'),
        url('../fonts/roboto/#{$font-face-roboto-medium}.ttf')  format('truetype'),
        url('../fonts/roboto/#{$font-face-roboto-medium}.svg') format('svg');
 }

@font-face {
    font-family: $font-face-roboto-light; font-style: normal; font-weight: normal;
    src: url('../fonts/roboto/#{$font-face-roboto-light}.eot');
    src: url('../fonts/roboto/#{$font-face-roboto-light}.eot?') format('eot'),
        url('../fonts/roboto/#{$font-face-roboto-light}.woff') format('woff'),
        url('../fonts/roboto/#{$font-face-roboto-light}.ttf')  format('truetype'),
        url('../fonts/roboto/#{$font-face-roboto-light}.svg') format('svg');
}

@font-face {
    font-family: $font-face-roboto-light-italic; font-style: italic; font-weight: normal;
    src: url('../fonts/roboto/#{$font-face-roboto-light-italic}.eot');
    src: url('../fonts/roboto/#{$font-face-roboto-light-italic}.eot?') format('eot'),
        url('../fonts/roboto/#{$font-face-roboto-light-italic}.woff') format('woff'),
        url('../fonts/roboto/#{$font-face-roboto-light-italic}.ttf')  format('truetype'),
        url('../fonts/roboto/#{$font-face-roboto-light-italic}.svg') format('svg');
}

@font-face {
    font-family: 'Droid Serif'; font-style: italic; font-weight: normal;
    src: url('../fonts/playlist/DroidSerif-Italic-webfont.eot');
    src: url('../fonts/playlist/DroidSerif-Italic-webfont.eot?') format('eot'),
        url('../fonts/playlist/DroidSerif-Italic-webfont.woff') format('woff'),
        url('../fonts/playlist/DroidSerif-Italic-webfont.ttf')  format('truetype');
 }


$maax: 'Maax', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$maax-rounded-medium: 'Maax Rounded Medium', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$playlist-script: 'Playlist', Arial,  Helvetica, 'Liberation Sans', sans-serif;

$caecilia-roman: 'Caecilia', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$caecilia-bold: 'Caecilia', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$caecilia-italic: 'Caecilia', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$caecilia-bold-italic: 'Caecilia', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$caecilia-heavy: 'Caecilia Heavy', Arial,  Helvetica, 'Liberation Sans', sans-serif;

$akzidenz-grotesk-pro-light: 'Akzidenz-Grotesk Pro Light', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$akzidenz-grotesk-pro-regular: 'Akzidenz-Grotesk Pro Regular', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$akzidenz-grotesk-pro-med: 'Akzidenz-Grotesk Pro Md', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$akzidenz-grotesk-pro-bold: 'Akzidenz-Grotesk Pro Bold', Arial,  Helvetica, 'Liberation Sans', sans-serif;

$brandon-grotesque-bold: 'Brandon Grotesque', Arial,  Helvetica, 'Liberation Sans', sans-serif;
$brandon-grotesque-regular: 'Brandon Grotesque', Arial,  Helvetica, 'Liberation Sans', sans-serif;

$roboto-regular: $font-face-roboto-regular, Arial,  Helvetica, 'Liberation Sans', sans-serif;
$roboto-medium: $font-face-roboto-medium, Arial,  Helvetica, 'Liberation Sans', sans-serif;
$roboto-light: $font-face-roboto-light, Arial,  Helvetica, 'Liberation Sans', sans-serif;
$roboto-light-italic: $font-face-roboto-light-italic, Arial,  Helvetica, 'Liberation Sans', sans-serif;

$droid-serif-italic: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;