/****** LOGIN MODAL ******/

.modal-backdrop.in {  background: #FFF; opacity: .8; }

.modal-login { 
  width: 500px;
  border-left: 125px solid $color-destacado;
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.3);
}

.loginmodal-container {
  padding: 0 75px 0 42px;
  max-width: 500px;
  width: 100% !important;
  background-color: #FFFEFC;
  color: #8D8D8D;
  margin: 0 auto;
  overflow: hidden;
  font-family: $akzidenz-grotesk-pro-med;
}

.loginmodal-container form{ clear: both; }

@media only screen and (max-width: ($screen-md - 1 )) {
  .modal-login { width: auto; background-color: #FFFEFC;}
  .loginmodal-container { max-width: auto; }
}

.loginmodal-container h2 {
  color: #010101;
  font-size: 20px;
  margin: 0;
  padding: 35px 0 0 0;
  font-family: $akzidenz-grotesk-pro-med;
}

@media only screen and (max-width: ($screen-xs - 1 )) {
  .loginmodal-container { padding: 0 30px; }
  .loginmodal-container h2 {  padding-top: 30px;}
}

.loginmodal-container hr{ 
    width: 45px; 
    height: 3px; 
    margin: 8px 0 30px 0;
    background: $color-destacado; 
    border-width: 0;
    float: left;
  }

.loginmodal-container label{
  margin-bottom: 0;
}

.loginmodal-container label span{
  font-family: $akzidenz-grotesk-pro-light;
  font-weight: 100;
  letter-spacing: 1px;
}


.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], .loginmodal-container input[type=password] {
  height: 32px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 18px;
  -webkit-appearance: none;
  background: transparent;
  color: #000;
  border: 0 solid #CCC;
  border-bottom: 1px solid #DEDEDE;
  padding: 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  letter-spacing: .5px;
}

.loginmodal-container input.email {
  height: 40px;
  font-size: 18px;
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border-width: 0;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: $brandon-grotesque-bold;
  font-weight: bold;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: $color-destacado;
  font-size: 14px;
  color: #FFF;
  letter-spacing: 1px;
  margin: 15px 0 0 0;
  padding: 13px 0;
}

.loginmodal-submit:hover {
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: $color-destacado;
  color: #000;
}

.loginmodal-container a {
  text-decoration: none;
  color: $color-destacado;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  transition: opacity ease 0.5s;
} 

.login-help{
  margin: 10px auto 20px auto;
  text-align: center;
  font-family: $akzidenz-grotesk-pro-med;
}

.login-help a{ 
  font-family: $akzidenz-grotesk-pro-bold;
  border-bottom: 1px dotted $color-destacado; 
  text-decoration: none;
  font-weight: 500;
}

.recovery{ text-align: center; margin-bottom: 36px;}
.recovery a{ 
  color: #8D8D8D; 
  border-bottom: 1px solid #C6C5C4;
}

.recovery-field{
  text-align: left;
  overflow: hidden;;
}

.recovery-field label{
  font-size: 13px;
}

.newemail-enviar{
  text-transform: uppercase;
  line-height: 1;
  font-size: 14px;
  letter-spacing: .5px;
  padding: 10px 12px 9px 15px;
  margin-top: -10px;
  margin-bottom: 15px;
  float: right;
  border: 0 solid red;
  border-radius: 2px;
  font-family: $brandon-grotesque-bold;
  font-weight: bold;
  background: $color-destacado;
  color: #FFF;
  box-shadow: 0 12px 15px rgba(0,0,0,0.1);
}

.newemail-enviar:hover, .newemail-enviar:focus{
  color: #000;
}

/* submenu */

@media only screen and (max-width: ($screen-xs )) {

  .modal-dialog { 
    border-left: 5px solid $color-destacado;
    box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.3);
  }

  .loginmodal-container{
    padding: 0px 20px;
  }

}