.navbar-brand{ 
	background: url(../img/logo/logo-lexia.svg) no-repeat 0 0;
	width: 80px;
	height: 34px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin: 10px 0 0 0; }

.navbar-toggle .icon-bar { background: $color-destacado; }

.navbar-lexia{ padding-top: 25px; }

.navbar-lexia .navbar-toggle { margin-top: 6px; margin-right: 9px; border-radius: 0; }

.navbar-escrituras-collapse{ float: right; }

.navbar-escrituras-collapse .login{ margin-left: 15px; }


@media only screen and (max-width: ($screen-md - 1)) {
	.navbar-lexia{ padding-top: 45px; margin-bottom: 0;}
}

@media only screen and (max-width: ($screen-xs - 1)) {
	.navbar-lexia{ padding-top: 15px;}
}

.navbar-lexia li{ margin: 0 12px; }

@media only screen and (max-width: ($screen-md - 1)) {
	.navbar-lexia li{ margin: 0 0; }
}

.navbar-lexia li:first-child{ margin-left: 50px; }

.navbar-lexia li > a{
	text-transform: uppercase;
    line-height: 1;
    font-size: 1.142857142857143em;
    letter-spacing: .5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
    color: #000;
	font-family: $brandon-grotesque-bold;
	font-weight: bold;
}

.navbar-lexia .dropdown > a{
	padding-right: 20px;
	background: url(../img/iconos/dropdown.svg) no-repeat center right; 	
}

.navbar-lexia .navbar-nav > li > a:hover, .navbar-lexia .navbar-nav >  li > a:focus{
	background-color: transparent;
	color: $color-destacado;
}

.navbar-lexia .navbar-nav > li.active > a{
	color: $color-destacado;
	border-bottom: 4px solid $color-destacado;
}

/* submenu */

@media only screen and (min-width: ($screen-md )) {

	.navbar-lexia .dropdown.open{
		margin-left: 0;
	}

	.navbar-lexia .dropdown.open + li{
		margin-left: 4px;
	}

	.navbar-lexia .navbar-nav .dropdown.open > a{
	 	background-color: #FFF; 
		border-bottom: 4px solid #FFF;
		padding-left: 0;
		border-left: 12px solid #FFF;
		border-right: 8px solid #FFF;
		position: relative;
		z-index: 1001;
		background-image: none;
		padding-right: 6px;
		margin-right: 14px;
	}

	.navbar-lexia .dropdown.open .dropdown-menu{
		border-radius: 0;
		padding: 0;
		border-width: 0;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.125);
	}

	.navbar-lexia .dropdown li {
		margin: 0;
		margin-left: 0;
	}

	.navbar-lexia .dropdown li a{
		font-family: $akzidenz-grotesk-pro-med;
		font-weight: normal;
		text-transform: none;
		margin-left: 0;
	    line-height: 1;
	    font-size: 1.214285714285714em;
	    letter-spacing: .2px;
	    min-width: 250px;
	    padding: 15px 0 15px 15px;
		color: #5F6062;
		background-color: #FFF;
		border-left: 7px solid #FFF;
		border-bottom: 1px solid #E3E3E3;
	}

	.navbar-lexia .dropdown li a:hover, .navbar-lexia .dropdown li a:focus, , .navbar-lexia .dropdown li.active a{
		color: $color-destacado;
		border-left: 7px solid $color-destacado;
	}

}

@media only screen and (min-width: ($screen-md - 1)) {

	.login li{ margin-left: 0; }
	.login li:first-child{ margin: 0; }
	.login li:first-child > a{ background-image: url(../img/iconos/login.svg); }

	.login li > a{
	  width: 44px;
	  height: 44px;
	  display: block;
	  text-indent: -9999px;
	  background: url(../img/iconos/register.svg) no-repeat center center; 	
	}

	.navbar-lexia .login li:first-child > a:hover, .navbar-lexia .login li:first-child > a:focus{ 
		background-image: url(../img/iconos/login-hover.svg); 
	}

	.navbar-lexia .login li > a:hover, .navbar-lexia .login li > a:focus{ 
		background: url(../img/iconos/register-hover.svg) no-repeat center center; 
		border-bottom-width: 0;
	}

	.navbar-lexia .invis { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

}

@media only screen and (max-width: ($screen-md - 1)) {

	.navbar-toggle{ margin-top: 4px; z-index: 51;}

	.navbar-lexia li > a{
	  padding-left: 15px;
      padding-right: 15px;
    }
}

/* MENU MOBILE */

@media only screen and (max-width: ($screen-md - 1)) {

	.navbar-brand{ 
		background: url(../img/logo/logo-lexia-white.svg) no-repeat 0 0;
		width: 60px;
		height: 25px; 
		background-size: 100% auto; 
	}

	.navbar > .container .navbar-brand,  .navbar > .container-fluid .navbar-brand  {
		margin-left: 15px;
		margin-top: 14px;
	}

	.navbar-lexia{
		border-width: 0;
		padding-top: 0;
		background: $color-destacado;
    	max-height: 49px;
	}

	.navbar-lexia .navbar-nav > li > a{
		background-position: 244px 9px;
	}

	.navbar-lexia .navbar-nav > li.active > a{
		border-bottom: 1px solid #333; 
		background-color: $color-destacado;
		color: #000;
	}

	.navbar-lexia .navbar-nav > li > a:hover, .navbar-lexia .navbar-nav > li > a:focus{ 
		border-bottom: 1px solid #333; 
	}

	.navbar-lexia .padding-container{ padding: 0; }

	.navbar-lexia .icon-bar{ 
		background: #FFF; 
		height: 3px;
	}

	.navbar-lexia .icon-bar + .icon-bar {
    	margin-top: 3px;
	}

	.navbar-lexia .navbar-toggle{ 
		margin-top: 7px; 
		padding-right: 14px;
		padding-left: 14px;
		margin-right: 4px;
		padding-top: 10px;
		padding-bottom: 16px;
	}

	.navbar-lexia button:hover .icon-bar, .navbar-lexia .navbar-toggle.on .icon-bar{
		background: $color-destacado;
	}

	.navbar-lexia .navbar-toggle:hover, .navbar-lexia .navbar-toggle.on{
    	background-color: #FFF;
		color: $color-destacado;
    	border: 1px solid #FFF;
    }

    .navbar-lexia .padding-container{ padding: 0; }

	.navbar-lexia .navbar-toggle{ 
		margin: 7px 7px 0 0;
		padding: 10px 12px 16px 12px;
	}

	.navbar-escrituras-collapse{
		position: absolute;
		top: 50px;
		right: 22px;
		z-index: 50;
		box-shadow: 0 5px 20px rgba(0, 0, 0, .125);
	}

	.navbar-collapse { border-top: 0 solid transparent;	}

	.navbar-lexia .navbar-nav{ margin-top: 0; margin-bottom: 0; }

	.navbar-lexia .navbar-nav li{ margin: 0 7px 0 0; }

	.navbar-lexia .navbar-nav li a{ 
		font-family: $akzidenz-grotesk-pro-med;
		font-weight: normal;
		text-transform: none;
		margin-left: 0;
	    line-height: 1;
	    font-size: 1.214285714285714em;
	    letter-spacing: .2px;
	    min-width: 250px;
	    padding: 15px 0 15px 15px;
		color: #5F6062;
		background-color: #FFF;
		border-left: 7px solid #FFF;
		border-bottom: 1px solid #E3E3E3;
	}

	.navbar-lexia li > a:hover, .navbar-lexia li > a:focus, .navbar-lexia li.active > a{ 
		border-left: 7px solid $color-destacado;
	}

	.navbar-lexia .navbar-nav > li > a:hover, .navbar-lexia .navbar-nav > li > a:focus, .navbar-lexia .navbar-nav > li.active > a {
		color: $color-destacado;
		background-color: #FFF;
		border-bottom: 1px solid #E3E3E3;
	}

	.navbar-lexia .dropdown.active > a, .navbar-lexia .dropdown > a:hover{
		background-image: url(../img/iconos/cruz-menu.svg); 	
		background-position: right center;
	}

	.navbar-lexia .dropdown.open > a, .navbar-lexia .dropdown.open > a:hover{
		background-image: url(../img/iconos/cruz-menu-on.svg);
		border-left: 7px solid $color-destacado; 	
	}

	.navbar-nav .open .dropdown-menu{ padding: 0; }

	.navbar-lexia .navbar-nav li{
		margin: 0;
	}

	.navbar-nav .open .dropdown-menu > li > a{ 
		padding: 13px 0px 13px 28px;
		color: #A3A4A5;
	}

	.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus{
		background-color: #FAFAFA;
		color: #333;
		border-left-color: #FAFAFA;
	}

	.navbar-escrituras-collapse .login{ margin: 0 -15px; }

}