/****** MODAL NODO ******/

.esconder{ display: none; }

body.overflow{ overflow: hidden; }

.nodo-backdrop-fondo{
    background: rgba(255,255,255,0.7);
    /*background: url("../img/nodo/fondo-nodo.png") repeat 0 0;*/
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1039;
} 

.nodo-backdrop{  
	background: #FFF;
	color: #000;
	position: fixed;
	top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;
    z-index: 1040;
    overflow-y: auto;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: $screen-lg + 20) {
  .nodo-backdrop{  
	top: 20px;
    right: 10px;
    bottom: 20px;
    left: 10px;
  }
}

.back-button.close-arrow{
	position: absolute;
	top: 15px;
	right: 15px;
	text-indent: -9999px;
	background: url("../img/nodo/close-btn.png") no-repeat top right;
	width: 100%;
	padding: 0;
	margin: 0;
	width: 44px;
	height: 44px;
}

.close-arrow:hover, .close-arrow:focus{
	background-image: url("../img/nodo/close-btn-hover.png");	
}

.back-button{
	font-family: $akzidenz-grotesk-pro-med;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .05em;
	color: #666;
	text-transform: uppercase;
	padding: 28px 0 0 30px;
	display: block;
	width: 100px;
}

@media only screen and (max-width: $screen-lg + 20) {
	.back-button{
	  width: 90%;
	  padding: 0;
	  margin: 15px auto 0 auto;
	}
}

.back-button-bottom{ 
	float: right; 
	text-align: right;
	padding-bottom: 28px;
	margin: 0 30px 0 0;
	width: 150px;
}

.nodo-backdrop-fondo .back-button-bottom{
	float: left;
	text-align: left;
	margin: 0;
}

.back-button:hover, .back-button:focus{
	color: $color-destacado;
	text-decoration: none;
}

.container-nodo, .nodo-data-relato, .titulo-nodo{ 
	width: 90%;
	max-width: $screen-md; 
	margin: 0 auto;
}

.nodo-data-relato{
	margin-top: 100px;
	margin-bottom: 50px;
}

.nodo-data-relato a:hover, .nodo-data-relato a:focus{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

.nodo-data-relato a:hover img, .nodo-data-relato a:focus img{
	opacity: .7;
}

.container-nodo{ padding-bottom: 80px; }

.nodo-data-relato .image-clip{
	margin-left: -90px;
	margin-right: 10px;
	margin-top: -4px;
}

@media only screen and (max-width: $screen-lg + 120) {
	.nodo-data-relato{
		margin-top: 60px;
		margin-bottom: 80px;
	}
	.nodo-data-relato .image-clip{
		width: 44px;
		height: 44px;
		margin-bottom: 40px;
		margin-top: 0;
		margin-left: 0;
	}
}

.nodo-data-relato .tit-relato{
	margin-top: 6px;
	max-width: 250px;
}

.nodo-data-relato:hover *, .nodo-data-relato:focus *{
	color: #757575;
	text-decoration: none;
}
.nodo-data-relato:hover .tit-relato, .nodo-data-relato:focus .tit-relato{
	color: #000;
}

.nodo-data-relato a .tit-relato{ color: #333; }

.titulo-nodo h1{
	text-align: right;
	color: #333;
	font-family: $akzidenz-grotesk-pro-med;
	font-weight: bold;
	font-size: 43px;
	margin-right: 20px;
}

@media only screen and (max-width: $screen-md) {
	.titulo-nodo h1{
	  font-size: 30px;
	}
}

.titulo-nodo .acento{ 
	display: block;
	margin-right: 20px;
}

.titulo-nodo .acento span{
	display: block;
	float: right;
	width: 30px;
	height: 4px;
	background-color: #EAE8E6;
}

.container-nodo{
	padding-top: 100px;
	font-size: 20px;
	font-family: $caecilia-roman;
	line-height: 1.75;
}

.container-nodo p{
	margin-bottom: 1.75em;
}

.condicionales-ergodico{
	list-style: none;
	margin-bottom: 30px;
	margin-top: -40px;
	padding: 0;
}

@media only screen and (max-width: $screen-md) {
	.condicionales-ergodico{
		margin-top: -100px;
	}
}

.condicionales-ergodico li{
	text-align: right;
}

.condicionales-ergodico li a{
	border-top: 2px dotted #CCCCCC;
	padding: 9px 90px 8px 20px;
	color: $color-destacado;
  	background: url(../img/iconos/flecha-sig.svg) no-repeat center right; 
  	display: inline-block;
}

.condicionales-ergodico li:last-child a{
	border-bottom: 2px dotted #CCCCCC;
}

.condicionales-ergodico li a:hover, .condicionales-ergodico li a:focus{
	color: #000;
	text-decoration: none;
}

@media only screen and (max-width: $screen-md) {
	.container-nodo{
		padding-top: 60px;
	}
}

@media only screen and (max-width: $screen-lg + 20) {
	.container-nodo{
	  font-size: 16px;
	}
}

.container-nodo strong, .container-nodo b{
	font-family: $caecilia-bold;
}

.container-nodo em, .container-nodo i{
	font-family: $caecilia-italic;
}

.container-nodo em b,
.container-nodo em strong,
.container-nodo i b,
.container-nodo i strong,
.container-nodo b i,
.container-nodo b em,
.container-nodo strong i,
.container-nodo strong em{
	font-family: $caecilia-bold-italic;
}


/* Temporal */

.container-nodo table{
	margin: 0 auto;
	margin-top: -30px;
}

.container-nodo table caption{
	text-align: right;
	padding-right: 25px;
	margin-top: -90px;
}

.tit-mes{
	color: #0CA6BE;
	text-transform: uppercase;
	font-size: 30px;
	font-family: $akzidenz-grotesk-pro-med;
	font-weight: bold;
	letter-spacing: 1px;
}

@media only screen and (max-width: $screen-md) {
	.container-nodo table caption{
		padding-right: 15px;
	}
}

@media only screen and (max-width: $screen-xs) {
	.container-nodo table caption{
		padding-right: 0;
		font-size: 21px;
	}
}

.container-nodo table th, .container-nodo table td{
	text-align: center;
	padding: 18px 25px;
	font-size: 21px;
	color: #CCC;
	font-family: $akzidenz-grotesk-pro-med;
}

@media only screen and (max-width: $screen-md) {
	.container-nodo table th, .container-nodo table td{
		padding: 12px 15px;
		font-size: 18px;
	}
}


@media only screen and (max-width: $screen-xs) {
	.container-nodo table th, .container-nodo table td{
		padding: 2% 3%;
		font-size: 14px;
	}
}

.container-nodo table th{
	text-transform: uppercase;
	color: #666666;
	letter-spacing: 1px;
}

.container-nodo table td a{
	display: block;
	background-color: #0CA6BE;
	color: #FFF;
	border-radius: 25px;
}

.container-nodo table td a:hover, .container-nodo table td a:focus{
	text-decoration: none;
	background-color: #000;
}

.fondo-forms .container-nodo .botones-nav-form{
	padding-top: 50px;
}

.fondo-forms .container-nodo .bot {
	color: #666;
	font-size: 18px;
	margin-left: 0;
	margin-right: 0;
}

.container-nodo .timeline-dia{
	margin-top: -60px;
	padding: 0;
	list-style: none;
}

.container-nodo .timeline-dia li{
	padding-bottom: 1px;
	margin-bottom: 65px;
	background: url("../img/nodo/divisor-nodo-temporal.png") no-repeat bottom left;
}

.container-nodo .timeline-dia li:last-child{
	background-image: none;
}

.container-nodo .timeline-dia li p:first-child{
	color: #0CA6BE;
	text-transform: uppercase;
	font-family: $akzidenz-grotesk-pro-med;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

.container-nodo .timeline-dia li h2{
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 25px;
	font-family: $akzidenz-grotesk-pro-med;
	font-weight: bold;
	color: #333;
	letter-spacing: 1px;
}

/* /Temporal/ */

.btn-social{
	float: right;
	width: 41px;
	height: 41px;
	text-indent: -9999px;
	margin-left: 15px;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	position: relative;
	border-radius: 24px;
	bottom: -20px;
	background: #FFF url("../img/nodo/share.png") no-repeat center center;
}

.btn-social:last-child{
	background: #FFF url("../img/nodo/like.png") no-repeat 9px 12px;	
}

.btn-social:last-child:hover, .btn-social:last-child:focus{
	background-image: url("../img/nodo/like-hover.png");	
}

.btn-social:hover, .btn-social:focus{
	background-image: url("../img/nodo/share-hover.png");	
}

.comentarios{
	width: 60%;
	margin: 30px auto 80px auto;
}

.comentarios.ergodico{
	width: 72%;
}

.comentarios ul{
	padding-left: 0;
	list-style: none;
}

.comentarios ul li{
	margin-bottom: 30px;
}

.comentarios li .image-clip{
	width: 44px;
	height: 44px;
	float: left;
}

.comentarios li h2{
	font-size: 15px;
	font-family: $akzidenz-grotesk-pro-med;
	font-weight: bold;
	padding-top: 7px;
}

@media only screen and (max-width: $screen-md) {
	.comentarios, .comentarios.ergodico{
		width: 100%;
		margin: 0 auto 60px auto;
	}
}

