.padding-relato{
	padding: 0 55px; 
}

@media only screen and (max-width: ($screen-lg - 1)) {
	.padding-relato{
		padding: 0;
		margin-right: -15px;
		margin-left: -15px; ;
	}
}

@media only screen and (max-width: ($screen-md - 1)) {
	.padding-relato{
		padding: 0;
		margin-right: -10px;
		margin-left: -10px; 
	}
}


.relato{
	background: $color-blanco;
	padding: 25px 20px;
	font-family: $caecilia-bold;
	font-size: 16px;
}


.media-relato img{ width: 100%; }

.relato h1{
	font-family: $meta-bold; 
	color: $color-titulo;
	font-size: 2.5em;
}


@media only screen and (max-width: ($screen-md - 1)) {
	.relato h1{ 
		font-size: 1.75em;
		margin-top: 0;
		margin-bottom: 0;
	}
}


.relato-nodos{

}
